body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #222;
    color: #fff;
    padding: 50px 20;
    text-align: left;
    padding-left: 0;
    
}

header h1 {
    margin: 0px;
    font-size: 1.8em;
    padding: 30px;
}

nav {
    background-color: #000;
    width: 100%;
    margin: 0;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #575757;
}

.container {
    display: flex;
    padding: 0px;
    gap: 0px;
    min-height: calc(100vh - 180px)
}

main {
    flex: 3;
    background-color: #ccc;
    padding: 20px;
    box-sizing: border-box;
}

aside {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    border: 0px solid #ddd;
}


footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 40px 0px;
    position: relative;
    bottom: 0;
    width: 100%
}